@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --color-bg: light-dark(oklch(97% 0 0deg), oklch(15% 0 0deg));
  --color-bg-strong: light-dark(oklch(99% 0 0deg), oklch(23% 0 0deg));
  --color-fg: light-dark(oklch(28% 0 0deg), oklch(86% 0 0deg));
  --color-fg-strong: light-dark(oklch(11% 0 0deg), oklch(96% 0 0deg));
  --color-fg-weak: light-dark(oklch(48% 0 0deg), oklch(71% 0 0));
  --color-accent: light-dark(oklch(50% 0.1686 6deg), oklch(50% 0.0984 6deg));
  --color-split: light-dark(oklch(90% 0 0deg / 46%), oklch(75% 0 0deg / 13%));
  --color-scrollbar-bg: light-dark(oklch(100% 0 0deg), oklch(22% 0 0deg));
  --color-scrollbar-fg: light-dark(oklch(70% 0 0deg), oklch(53% 0 0deg));

  --spacing: 0.1rem;
  --spacing-header-block: 3.4rem;
  --spacing-footer-block: 3rem;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --default-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.0);
  --ease-in: cubic-bezier(0.42, 0, 1.0, 1.0);
  --ease-out: cubic-bezier(0, 0, 0.58, 1.0);
  --ease-in-out: cubic-bezier(0.42, 0, 0.58, 1.0);
  --ease-hover: ease-out;
  --ease-page-transition: ease-out;

  --duration-hover: 350ms;
  --duration-color-scheme: 500ms;
  --duration-page-transition: 250ms;
}

@utility duration-hover {
  transition-duration: var(--duration-hover);
}

@utility duration-color-scheme {
  transition-duration: var(--duration-color-scheme);
}

@utility duration-page-transition {
  transition-duration: var(--duration-page-transition);
}

@custom-variant horizontal (&:where(:root:not([data-writing-mode]) *, :root[data-writing-mode="horizontal-tb"] *));
@custom-variant vertical (&:where(:root[data-writing-mode="vertical-rl"] *));

/* 816px = 768px (md) + 24px * 2 */
/* 1072px = 1024px (lg) + 24px * 2 */
@custom-variant viewport-sm (@container viewport (inline-size >= 640px));
@custom-variant viewport-md (@container viewport (inline-size >= 816px));
@custom-variant viewport-lg (@container viewport (inline-size >= 1072px));
@custom-variant viewport-xl (@container viewport (inline-size >= 1280px));
@custom-variant viewport-2xl (@container viewport (inline-size >= 1536px));

@custom-variant viewport-max-sm (@container viewport (inline-size < 640px));
@custom-variant viewport-max-md (@container viewport (inline-size < 816px));
@custom-variant viewport-max-lg (@container viewport (inline-size < 1072px));
@custom-variant viewport-max-xl (@container viewport (inline-size < 1280px));
@custom-variant viewport-max-2xl (@container viewport (inline-size < 1536px));

@custom-variant responsive-hover {
  @media (hover: hover) {
    &:hover {
      @slot;
    }
  }

  @media (hover: none) {
    &:active {
      @slot;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
  }
}

html {
  color-scheme: light;

  color: var(--color-fg);
  background-color: var(--color-bg);
  font-family: "Yu Mincho", "Hiragino Mincho ProN W3", serif;
  font-feature-settings: "pkna" 1;
  transition: color var(--duration-color-scheme), background-color var(--duration-color-scheme);

  container-type: inline-size;
  container-name: viewport;
}

html[data-color-scheme="dark"] {
  color-scheme: dark;
}

html[data-writing-mode="vertical-rl"] {
  writing-mode: vertical-rl;
}

body {
  line-height: 2;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

img, picture, video {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

img {
  object-fit: contain;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--color-scrollbar-bg);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-fg);
  border-radius: 6px;
}
